
@{
    ViewData["Title"] = "Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1>@ViewData["Title"]</h1>
    <div class="card shadow mb-4">
        <div class="row">
            <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Teclado</h5>
                    <p class="card-text">Quantidade: 1</p>
             
                </div>
            </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {

    <script src="~/MaterialAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/MaterialAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
}
